.sidebar .chat
	user-select: text

	flex-grow: 1

	border-top: .1em solid rgba(0,0,0,0.15)

	display: flex
	flex-direction: column
	flex-wrap: nowrap

	align-items: stretch
	align-content: stretch

	margin-bottom: .25em

	.msgs
		flex-grow: 1
		word-wrap: break-word
		overflow: auto

		> div
			border-top: .05em solid rgba(0,0,0,0.15)

			padding: .25em .75em

			&:nth-child(odd)
				background: rgba(255,255,255,0.75)

			> div:first-child
				float: left
				background: no-repeat center center url('images/avatar.svg')
				background-size: contain
				width: 1em
				height: 1em
				margin-bottom: .4em

			> div:nth-child(2)
				float: left
				margin-left: .5em
				margin-top: -.1em

			> div:nth-child(2n + 3)
				clear: left
				float: right

			> div:nth-child(2n + 4)
				clear: left
				margin-right: 4em

	form
		flex-grow: 0
		flex-shrink: 0

	textarea
		box-sizing: border-box
		width: 100%
		margin: 0
		padding: 0
		resize: none
		line-height: 1.25
		border-color: rgba(0,0,0,0.25)
		border-left: 0
		border-right: 0
		outline: 0
		background: no-repeat .5em .15em url('images/chat.svg')
		background-size: auto .8em
		padding-left: 2em