.ctx
	position: absolute
	background: #fff
	border: .1em solid #000
	margin: 0
	padding: 0


	list-style-type: none

	div
		cursor: pointer
		padding: 0.15em

		&:not(:first-child)
			border-top: .1em solid #000

		&:hover
			background: #000
			color: #fff