.peers .peer

	display: flex
	flex-direction: column
	flex-wrap: nowrap

	align-items: stretch
	align-content: stretch


	position: relative
	text-align: center
	margin-left: 1vw

	min-width: 10vw
	min-height: 10vw

	box-shadow: 0 0 0.15em rgba(0,0,0,0.5)

	.streams
		flex-grow: 1

	.stream

		display: inline-block
		overflow: hidden
		position: relative
		resize: both

		video
			object-fit: cover
			pointer-events: none
			width: 100%
			height: 100%

		img
			object-fit: cover
			pointer-events: none
			width: 100%
			height: 100%

		/*.resizer
			position: absolute
			bottom: 0
			right: 0
			background: no-repeat center center url('images/resizer.svg');
			background-size: cover
			width: .5em
			height: .5em
			z-index: 1*/
	
	.stream:empty
		display: none

	/*&[data-vids='2']
		min-width: 20vw

		.stream
			width: 48%

		.stream:first-child
			margin-right: 4%	*/

	.name
		flex-grow: 0
		flex-shrink: 0
		margin-top: .2em
		position: relative
		z-index: 1

	.ava
		flex-grow: 1
		background: no-repeat center center url('images/avatar.svg')
		background-size: 100% 100%

	&:not([data-vids='0']) .ava, &[data-vids='0'] .streams
		display: none

	audio
		display: none

	.db
		background: rgba(0,0,0,0.5)
		height: .175em