.peers .peer
	position: relative
	text-align: center
	margin-left: 1vw

	min-width: 10vw
	min-height: 10vw

	box-shadow: 0 0 0.15em rgba(0,0,0,0.5)

	video
		display: inline-block
		width: 100%
		
	&[data-vids='2']
		min-width: 20vw

		video
			width: 48%

		video:first-child
			margin-right: 4%	

	.name
		margin-top: .2em
		position: relative
		z-index: 1

	.ava
		position: absolute
		top: 1.8em
		bottom: 0
		left: 0
		right: 0
		background: no-repeat center center url('images/avatar.svg')
		background-size: 100% 100%

	&:not([data-vids='0']) .ava
		visibility: hidden

	audio
		display: none

	.db
		background: rgba(0,0,0,0.5)
		height: .175em